<div class="about-background">
  <app-header></app-header>
  <div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title style="font-size: 30px">About Us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <img
              src="../../../assets/images/img2.jpg"
              width="100%"
              height="100%"
            />
          </div>
          <div class="vl"></div>
          <div class="col-md-6">
            <h2>
              We are dedicated to provide best online shopping experience.
            </h2>
            <h2>We guarantee your total satisfaction !</h2>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
