<app-header></app-header>
<div style="margin-top: 20px" class="container">
  <h1 style="text-align: center; font-style: italic">Administrator Page</h1>
  <p class="lead">Administrator Options</p>
  <hr />
  <a routerLink="/admin/productInventory">
    <div class="bg-dark">
      <div style="margin-left: 20px">
        <h2>Product Inventory Management</h2>
        <em>View and modify the product inventory.</em>
      </div>
    </div>
  </a>
  <br />
  <a routerLink="/admin/pendingOrders">
    <div class="bg-dark">
      <div style="margin-left: 20px">
        <h2>Pending Orders</h2>
        <em>View and fulfill all pending orders.</em>
      </div>
    </div>
  </a>
  <br />
  <a routerLink="/admin/ordersHistory">
    <div class="bg-dark">
      <div style="margin-left: 20px">
        <h2>Orders History</h2>
        <em>View all past orders.</em>
      </div>
    </div>
  </a>
  <br />
  <a routerLink="/admin/customerManagement">
    <div class="bg-dark">
      <div style="margin-left: 20px">
        <h2>Customer Management</h2>
        <em>View all customer information.</em>
      </div>
    </div>
  </a>
  <br />
</div>
