<div class="home-background">
  <app-header></app-header>
  <div class="container">
    <div class="title">
      <h1>
        <span style="background-color: white; padding: 20px; font-size: 50px"
          ><strong>Welcome to the E-Commerce!</strong></span
        >
      </h1>
      <br />
      <a
        routerLink="/productList"
        class="nav-link"
        routerLinkActive="active"
        class="btn btn-success"
        style="margin-left: 280px"
      >
        <span><i class="fas fa-shopping-cart"></i></span>&nbsp; Start Shopping
      </a>
    </div>
  </div>
</div>
